In [354]:
import pandas as pd
import numpy as np
import os

## DF Final Web Data

In [70]:
# load df_final_web_data_pt_1.txt

data_webdata1 = pd.read_csv('C:/Users/Beheerder/Desktop/IronHack/project2/IH-DA-Project02/data/df_final_web_data_pt1.csv', sep='\t') 
print(data_webdata1.head())
print(data_webdata1.columns)

  client_id,visitor_id,visit_id,process_step,date_time
0  9988021,580560515_7732621733,781255054_2193545...
1  9988021,580560515_7732621733,781255054_2193545...
2  9988021,580560515_7732621733,781255054_2193545...
3  9988021,580560515_7732621733,781255054_2193545...
4  9988021,580560515_7732621733,781255054_2193545...
Index(['client_id,visitor_id,visit_id,process_step,date_time'], dtype='object')

In [358]:
# Assuming your column is unnamed or called 'client_id,visitor_id,visit_id,process_step,date_time'
data_webdata1 = data_webdata1.iloc[:, 0].str.split(',', expand=True)

# Rename the columns
data_webdata1.columns = ["client_id", "visitor_id", "visit_id", "process_step", "date_time"]

# Check
print(data_webdata1.head())

  client_id            visitor_id                      visit_id process_step  \
0   9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1   9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2   9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3   9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4   9988021  580560515_7732621733  781255054_21935453173_531117       step_3

         date_time
0  4/17/2017 15:27
1  4/17/2017 15:26
2  4/17/2017 15:19
3  4/17/2017 15:19
4  4/17/2017 15:18

In [360]:
# drop first row
data_webdata1 = data_webdata1.drop(index=0)
data_webdata1

,client_id,visitor_id,visit_id,process_step,date_time
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:26
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:19
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:19
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:18
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:17
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,3/31/2017 15:15
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,3/31/2017 15:14
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,3/31/2017 15:12
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,3/31/2017 15:11
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,3/31/2017 15:10

In [362]:
# retrieving the number of rwos and columns in the dataframe 
data_webdata1.shape

(343140, 5)

In [364]:
# displaying the data types of each column in the dataframe
data_webdata1.dtypes

client_id       object
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [366]:
# retrieving the unique data types present in the dataframe columns
list(set(data_webdata1.dtypes.tolist()))

[dtype('O')]

In [368]:
data_webdata1["process_step"] = data_webdata1["process_step"].astype(str).str.extract(r'(\d+)').astype(float)
print(data_webdata1["process_step"].dtype)
print(data_webdata1["process_step"].unique())

float64
[ 2.  3.  1. nan]

In [370]:
data_webdata1["process_step"] = data_webdata1["process_step"].astype(str).str.extract(r'(\d+)').astype(float)

In [372]:
# Fixing data types in the dataframe data_webdata1
data_webdata1["client_id"] = data_webdata1["client_id"].astype(str)
data_webdata1["visitor_id"] = data_webdata1["visitor_id"].astype(str)
data_webdata1["visit_id"] = data_webdata1["visit_id"].astype(str)
data_webdata1["process_step"] = data_webdata1["process_step"].astype(str).str.extract(r'(\d+)').astype(float)
data_webdata1["date_time"] = pd.to_datetime(data_webdata1["date_time"])

# Add this to display the cleaned dataframe
data_webdata1.head()

,client_id,visitor_id,visit_id,process_step,date_time
1,9988021,580560515_7732621733,781255054_21935453173_531117,2.0,2017-04-17 15:26:00
2,9988021,580560515_7732621733,781255054_21935453173_531117,3.0,2017-04-17 15:19:00
3,9988021,580560515_7732621733,781255054_21935453173_531117,2.0,2017-04-17 15:19:00
4,9988021,580560515_7732621733,781255054_21935453173_531117,3.0,2017-04-17 15:18:00
5,9988021,580560515_7732621733,781255054_21935453173_531117,2.0,2017-04-17 15:17:00

In [300]:
print(data_webdata1.isnull().sum())

client_id            0
visitor_id           0
visit_id             0
process_step    154313
date_time            0
dtype: int64

In [302]:
print(data_webdata1["process_step"].unique())

[ 2.  3.  1. nan]

In [304]:
print(data_webdata1[data_webdata1["process_step"].isnull()].head())

   client_id             visitor_id                      visit_id  \
7    9988021   580560515_7732621733  781255054_21935453173_531117
8    8320017   39393514_33118319366  960651974_70596002104_312201
12   8320017   39393514_33118319366  960651974_70596002104_312201
13   4033851  762728880_76361333336  949661017_22392791362_127391
14   4033851  762728880_76361333336  949661017_22392791362_127391

    process_step           date_time
7            NaN 2017-04-17 15:16:00
8            NaN 2017-04-05 13:10:00
12           NaN 2017-04-05 13:08:00
13           NaN 2017-04-05 12:29:00
14           NaN 2017-04-05 12:29:00

In [374]:
# explore first 
print(data_webdata1[data_webdata1["process_step"].isnull()].head())

   client_id             visitor_id                      visit_id  \
7    9988021   580560515_7732621733  781255054_21935453173_531117
8    8320017   39393514_33118319366  960651974_70596002104_312201
12   8320017   39393514_33118319366  960651974_70596002104_312201
13   4033851  762728880_76361333336  949661017_22392791362_127391
14   4033851  762728880_76361333336  949661017_22392791362_127391

    process_step           date_time
7            NaN 2017-04-17 15:16:00
8            NaN 2017-04-05 13:10:00
12           NaN 2017-04-05 13:08:00
13           NaN 2017-04-05 12:29:00
14           NaN 2017-04-05 12:29:00

In [378]:
# drop missing values 
data_webdata1 = data_webdata1.dropna(subset=["process_step"])

In [384]:
# visitor_id is a combination of two numbers separated by an underscore ( do we need to separat or use it as it is ?)
print(data_webdata1["visitor_id"].unique())

['580560515_7732621733' '39393514_33118319366' '762728880_76361333336' ...
 '897419406_91053100530' '140157234_42535034872' '465784886_73090545671']

In [382]:
# check the rows where process_step is missing 
print(data_webdata1[data_webdata1["process_step"].isnull()].head(10))

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time]
Index: []

In [218]:
# extracting column names with numerical data types from the dataframe
data_webdata1.select_dtypes("number").columns

Index(['process_step'], dtype='object')

In [386]:
# counting and sorting the unique values for each object (string) column in descending order
data_webdata1.select_dtypes("object").nunique().sort_values(ascending=False)

# all columns seem categorical, as there isn't a wide variability of values.

visit_id      56725
visitor_id    51196
client_id     49447
dtype: int64

In [388]:
data_webdata1 = smart_clean_webdata(data_webdata1)

 Starting smart cleaning process...

 Sample process_step values: ['2.0' '3.0' '1.0']

 Data types after cleaning:
client_id               object
visitor_id              object
visit_id                object
process_step           float64
date_time       datetime64[ns]
dtype: object

 Missing values in each column:
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

 Duplicated rows in the data: 5849

 Smart cleaning complete!

In [344]:
# remove dublications 
data_webdata1 = data_webdata1.drop_duplicates()
print("Duplicates removed.")

Duplicates removed.

In [346]:
#handel missing process_step fill with 0
data_webdata1["process_step"] = data_webdata1["process_step"].fillna(0)
print(" Missing process_step values filled with 0.")

 Missing process_step values filled with 0.

In [348]:
# Export cleaned data to CSV
data_webdata1.to_csv("cleaned_data_webdata1.csv", index=False, encoding='utf-8-sig')

print("Cleaned data exported to 'cleaned_data_webdata1.csv'")

Cleaned data exported to 'cleaned_data_webdata1.csv'

In [400]:
# load df_final_web_data_pt_1.txt

data_webdata2 = pd.read_csv('C:/Users/Beheerder/Desktop/IronHack/project2/IH-DA-Project02/data/df_final_web_data_pt_2.csv', sep='\t') 
print(data_webdata2.head())
print(data_webdata2.columns)

  client_id,visitor_id,visit_id,process_step,date_time
0  763412,601952081_10457207388,397475557_4044094...
1  6019349,442094451_91531546617,154620534_353310...
2  6019349,442094451_91531546617,154620534_353310...
3  6019349,442094451_91531546617,154620534_353310...
4  6019349,442094451_91531546617,154620534_353310...
Index(['client_id,visitor_id,visit_id,process_step,date_time'], dtype='object')

In [402]:
# Assuming your column is unnamed or called 'client_id,visitor_id,visit_id,process_step,date_time'
data_webdata2 = data_webdata2.iloc[:, 0].str.split(',', expand=True)

# Rename the columns
data_webdata2.columns = ["client_id", "visitor_id", "visit_id", "process_step", "date_time"]

# Check
print(data_webdata2.head())

  client_id             visitor_id                      visit_id process_step  \
0    763412  601952081_10457207388  397475557_40440946728_419634      confirm
1   6019349  442094451_91531546617  154620534_35331068705_522317      confirm
2   6019349  442094451_91531546617  154620534_35331068705_522317       step_3
3   6019349  442094451_91531546617  154620534_35331068705_522317       step_2
4   6019349  442094451_91531546617  154620534_35331068705_522317       step_1

        date_time
0   6/6/2017 8:56
1  6/1/2017 11:59
2  6/1/2017 11:58
3  6/1/2017 11:58
4  6/1/2017 11:57

In [406]:
import pandas as pd

df1 = pd.read_csv('cleaned_data_webdata1.csv')
df2 = pd.read_csv('cleaned_data_webdata2.csv')

frames = [df1, df2]
data_webdata = pd.concat(frames)
print(data_webdata)

,client_id,visitor_id,visit_id,process_step,date_time
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,6/1/2017 11:59
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,6/1/2017 11:58
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,6/1/2017 11:58
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,6/1/2017 11:57
5,6019349,442094451_91531546617,154620534_35331068705_522317,start,6/1/2017 11:57
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,5/24/2017 18:46
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,5/24/2017 18:45
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,5/24/2017 18:44
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,5/24/2017 18:44
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,6/3/2017 12:17

In [408]:
# retrieving the number of rwos and columns in the dataframe 
data_webdata2.shape

(412263, 5)

In [410]:
# displaying the data types of each column in the dataframe
data_webdata2.dtypes

client_id       object
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [412]:
# retrieving the unique data types present in the dataframe columns
list(set(data_webdata2.dtypes.tolist()))

[dtype('O')]

In [420]:
data_webdata2["process_step"] = data_webdata2["process_step"].astype(str).str.extract(r'(\d+)').astype(float)
print(data_webdata2["process_step"].dtype)
print(data_webdata2["process_step"].unique())

float64
[nan  3.  2.  1.]

In [422]:
data_webdata2["process_step"] = data_webdata2["process_step"].astype(str).str.extract(r'(\d+)').astype(float)

In [424]:
# Fixing data types in the dataframe data_webdata1
data_webdata2["client_id"] = data_webdata2["client_id"].astype(str)
data_webdata2["visitor_id"] = data_webdata2["visitor_id"].astype(str)
data_webdata2["visit_id"] = data_webdata2["visit_id"].astype(str)
data_webdata2["process_step"] = data_webdata2["process_step"].astype(str).str.extract(r'(\d+)').astype(float)
data_webdata2["date_time"] = pd.to_datetime(data_webdata2["date_time"])

# Add this to display the cleaned dataframe
data_webdata2.head()

,client_id,visitor_id,visit_id,process_step,date_time
1,6019349,442094451_91531546617,154620534_35331068705_522317,NaN,2017-06-01 11:59:00
2,6019349,442094451_91531546617,154620534_35331068705_522317,3.0,2017-06-01 11:58:00
3,6019349,442094451_91531546617,154620534_35331068705_522317,2.0,2017-06-01 11:58:00
4,6019349,442094451_91531546617,154620534_35331068705_522317,1.0,2017-06-01 11:57:00
5,6019349,442094451_91531546617,154620534_35331068705_522317,NaN,2017-06-01 11:57:00

In [426]:
print(data_webdata2.isnull().sum())

client_id            0
visitor_id           0
visit_id             0
process_step    192594
date_time            0
dtype: int64

In [428]:
print(data_webdata2["process_step"].unique())

[nan  3.  2.  1.]

In [432]:
print(data_webdata2[data_webdata2["process_step"].isnull()].head())

   client_id             visitor_id                      visit_id  \
1    6019349  442094451_91531546617  154620534_35331068705_522317
5    6019349  442094451_91531546617  154620534_35331068705_522317
6    4726500  934350987_45569789638  467318052_88159801968_565608
10   4726500  934350987_45569789638  467318052_88159801968_565608
11   2604484  403124303_66054292858  839120079_63294408771_355112

    process_step           date_time
1            NaN 2017-06-01 11:59:00
5            NaN 2017-06-01 11:57:00
6            NaN 2017-06-05 17:38:00
10           NaN 2017-06-05 17:37:00
11           NaN 2017-06-05 17:13:00

In [434]:
# drop missing values 
data_webdata2 = data_webdata2.dropna(subset=["process_step"])

In [436]:
# visitor_id is a combination of two numbers separated by an underscore ( do we need to separat or use it as it is ?)
print(data_webdata2["visitor_id"].unique())

['442094451_91531546617' '934350987_45569789638' '159724599_74688076986'
 ... '358754208_29929976792' '473024645_56027518531'
 '388766751_9038881013']

In [438]:
# check the rows where process_step is missing 
print(data_webdata2[data_webdata2["process_step"].isnull()].head(10))

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time]
Index: []

In [440]:
# extracting column names with numerical data types from the dataframe
data_webdata2.select_dtypes("number").columns

Index(['process_step'], dtype='object')

In [442]:
# counting and sorting the unique values for each object (string) column in descending order
data_webdata2.select_dtypes("object").nunique().sort_values(ascending=False)

# all columns seem categorical, as there isn't a wide variability of values.

visit_id      64273
visitor_id    59335
client_id     58096
dtype: int64

In [444]:
data_webdata2 = smart_clean_webdata(data_webdata2)

 Starting smart cleaning process...

C:\Users\Beheerder\AppData\Local\Temp\ipykernel_26356\1106595895.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(str)
C:\Users\Beheerder\AppData\Local\Temp\ipykernel_26356\1106595895.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(str)
C:\Users\Beheerder\AppData\Local\Temp\ipykernel_26356\1106595895.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(str)

 Sample process_step values: ['3.0' '2.0' '1.0']

 Data types after cleaning:
client_id               object
visitor_id              object
visit_id                object
process_step           float64
date_time       datetime64[ns]
dtype: object

 Missing values in each column:
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

C:\Users\Beheerder\AppData\Local\Temp\ipykernel_26356\1106595895.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["process_step"] = pd.to_numeric(df["process_step"], errors='coerce')
C:\Users\Beheerder\AppData\Local\Temp\ipykernel_26356\1106595895.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_time"] = pd.to_datetime(df["date_time"], errors='coerce')

 Duplicated rows in the data: 5952

 Smart cleaning complete!

In [446]:
# remove dublications 
data_webdata2 = data_webdata2.drop_duplicates()
print("Duplicates removed.")

Duplicates removed.

In [448]:
#handel missing process_step fill with 0
data_webdata2["process_step"] = data_webdata2["process_step"].fillna(0)
print(" Missing process_step values filled with 0.")

 Missing process_step values filled with 0.

In [450]:
# Export cleaned data to CSV
data_webdata2.to_csv("cleaned_data_webdata2.csv", index=False, encoding='utf-8-sig')

print("Cleaned data exported to 'cleaned_data_webdata2.csv'")

Cleaned data exported to 'cleaned_data_webdata2.csv'

In [35]:
import pandas as pd

df1 = pd.read_csv('cleaned_data_webdata1.csv')
df2 = pd.read_csv('cleaned_data_webdata2.csv')

frames = [df1, df2]
data_webdata = pd.concat(frames)
print(data_webdata)

        client_id            visitor_id                      visit_id  \
0         9988021  580560515_7732621733  781255054_21935453173_531117
1         9988021  580560515_7732621733  781255054_21935453173_531117
2         9988021  580560515_7732621733  781255054_21935453173_531117
3         9988021  580560515_7732621733  781255054_21935453173_531117
4         9988021  580560515_7732621733  781255054_21935453173_531117
...           ...                   ...                           ...
213712    9668240  388766751_9038881013   922267647_3096648104_968866
213713    9668240  388766751_9038881013   922267647_3096648104_968866
213714    9668240  388766751_9038881013   922267647_3096648104_968866
213715    9668240  388766751_9038881013   922267647_3096648104_968866
213716    9668240  388766751_9038881013   922267647_3096648104_968866

        process_step            date_time
0                2.0  2017-04-17 15:26:00
1                3.0  2017-04-17 15:19:00
2                2.0  2017-04-17 15:19:00
3                3.0  2017-04-17 15:18:00
4                2.0  2017-04-17 15:17:00
...              ...                  ...
213712           2.0  2017-05-24 18:49:00
213713           1.0  2017-05-24 18:49:00
213714           2.0  2017-05-24 18:48:00
213715           1.0  2017-05-24 18:48:00
213716           1.0  2017-05-24 18:44:00

[539597 rows x 5 columns]

In [43]:
print(data_webdata.info())
print(data_webdata.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 539597 entries, 0 to 213716
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     539597 non-null  int64
 1   visitor_id    539597 non-null  object
 2   visit_id      539597 non-null  object
 3   process_step  539597 non-null  float64
 4   date_time     539597 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 24.7+ MB
None
          client_id   process_step
count  5.395970e+05  539597.000000
mean   5.008859e+06       1.379878
std    2.879126e+06       1.082236
min    1.690000e+02       0.000000
25%    2.516816e+06       0.000000
50%    5.022997e+06       1.000000
75%    7.491937e+06       2.000000
max    9.999875e+06       3.000000

In [17]:
print("Total duplicates:", data_webdata.duplicated().sum())

Total duplicates: 0

In [55]:
data_webdata.to_csv('data_webdata.csv', index=False)
print("Data exported successfully!")

Data exported successfully!

In [57]:
data_webdata = data_webdata.reset_index(drop=True)
data_webdata = data_webdata.iloc[1:]
print(data_webdata.head())

   client_id            visitor_id                      visit_id  \
1    9988021  580560515_7732621733  781255054_21935453173_531117
2    9988021  580560515_7732621733  781255054_21935453173_531117
3    9988021  580560515_7732621733  781255054_21935453173_531117
4    9988021  580560515_7732621733  781255054_21935453173_531117
5    8320017  39393514_33118319366  960651974_70596002104_312201

   process_step            date_time
1           3.0  2017-04-17 15:18:00
2           2.0  2017-04-17 15:17:00
3           1.0  2017-04-17 15:17:00
4           0.0  2017-04-17 15:16:00
5           0.0  2017-04-05 13:10:00

In [67]:
data_webdata = data_webdata.reset_index(drop=True)
data_webdata = data_webdata.iloc[1:]

# Save to CSV
data_webdata.to_csv('cleaned_webdata.csv', index=False)

print("Data saved to 'cleaned_webdata.csv'")

Data saved to 'cleaned_webdata.csv'